.headerBlk{
  display: block;
  margin: 0;
  padding: 30px 0;
  background: white;
}
.asideBlk,
.mainBlk{
  display: inline-block;
}
.asideBlk{
  width: 30%;
  background: dodgerblue;  
}
.profileBlk img{
  width:85px;
  height: 85px;
  border-radius: 50%;
}
.mainBlk{
  width: 70%;
  background: rgb(23, 86, 201)
}